@model DataLayer.Department

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details Department - Project Demo</title>
</head>
<body>
    <div>
        <h4>Department</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Location)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Location)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) | 
        
        @Html.ActionLink("Back to List", "Index") | 

        <!-- Manually inserted an additional link to back to Home page-->
        @Html.ActionLink("Back to Home", "Index", "Home")
    </p>
</body>
</html>
